<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>

  <rosparam command="load" file="$(find voxblox_ros)/config/config_voxblox.yaml" />
  
  <node name="voxblox_local" pkg="voxblox_ros" type="tsdf_server" output="screen" args="-alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="/merged_pointclouds" />
    <param name="mesh_filename" value="/home/jonfrey/Datasets/ANYmal_datasets/forest/mesh.ply"/>
    <param name="world_frame" value="map"/>
  </node>

  <arg name="rviz_config_path"                      default="/home/jonfrey/darpa_ws/src/gbplanner/third_party_deps/voxblox/voxblox_ros/ui/anymal.rviz"/>
  <arg name="rqt_config_path"                      default="/home/jonfrey/darpa_ws/src/gbplanner/third_party_deps/voxblox/voxblox_ros/ui/rqt.perspective"/>
  <arg name="rviz_splash_screen"                    default="$(find anymal_c_subt)/config/ui/splash_replay.png"/>
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(arg rviz_config_path) --s $(arg rviz_splash_screen)" output="screen" respawn="true" launch-prefix=""/>
  </group>
</launch> 